<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
     href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
<title>jingo</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



<script>
$(document).ready(function(){

   $("#btn2").click(function(){
      $("#range").show(500);
    });
 });
</script>

<script>
$(document).ready(function(){

   $("#btn3").click(function(){
      $("#sch").show(500);
    });
 });
</script>

<script>
$(document).ready(function(){

   $("#btn6").click(function(){
      $("#sch2").show(500);
    });
 });
</script>

<script>
$(document).ready(function(){

   $("#btn4").click(function(){
      $("#tag").show(500);
    });
 });
</script>

<script>
$(document).ready(function(){

   $("#btn7").click(function(){
      $("#tag2").show(500);
    });
 });
</script>

<script>
$(document).ready(function(){

   $("#btn8").click(function(){
      $("#tag3").show(500);
    });
 });
</script>
 
</head>

<body>
	<div id="fb-root"></div>

	
<form action="insert_note.php" method="post">
<fieldset>
<legend>Post Note</legend>
<div>
<label for="notes">What's happening?</label><br>
<textarea rows="5" cols="40" name="notes"></textarea>
</div>
<div>
<input id="btn1" type="button" name="like" value="like"  />
<input id="btn2" type="button" name="range" value="range"  />
<input id="btn4" type="button" name="tag" value="tag"  />
<input id="btn3" type="button" name="schedule" value="schedule"  />
<input id="btn5" type="button" name="me" value="#me"  />
</div>

<div id="range" style="display:none;">
<label for="Nrange">radius:</label><br>
<input type="text" name="Nrange" value="" maxlength="100" />

</div>

<div id="tag" style="display:none;">
<label for="tag">tag:</label><br>
<input type="text" name="tag_name" value="" maxlength="100" />
<input id="btn7"class="add" value="add" type="button"  />
</div>

<div id="tag2" style="display:none;">
<label for="tag2">tag2:</label><br>
<input type="text" name="tag_name2" value="" maxlength="100" />
<input id="btn8"class="add" value="add" type="button"  />
</div>

<div id="tag3" style="display:none;">
<label for="tag3">tag3:</label><br>
<input type="text" name="tag_name3" value="" maxlength="100" />
</div>


<div id="sch" style="display:none;">
	<p>Schedule</p>

	
    <div id="datetimepicker3" class="input-append">
	<label for="timefrom">start time:</label><br>
	<input data-format="hh:mm:ss" type="text" name="timefrom_name" value="" maxlength="100" />
	 <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
  </div>
</div>


<script type="text/javascript">
  $(function() {
    $('#datetimepicker3').datetimepicker({
      pickDate: false
    });
  });
</script>

    <div id="datetimepicker4" class="input-append">
	<label for="timeto">end time:</label><br>
	<input data-format="hh:mm:ss" type="text" name="timeto_name" value="" maxlength="100" />
	<span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
  </div>

  <script type="text/javascript">
  $(function() {
    $('#datetimepicker4').datetimepicker({
      pickDate: false
    });
  });
</script>




	 <div id="datetimepicker" class="input-append date">
	<label for="datefrom">start date:</label><br>
	<input type="text" name="datefrom_name" value="" maxlength="100" />
	 <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
  </div>

  <script type="text/javascript"
     src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script> 
    <script type="text/javascript"
     src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script>



    <script type="text/javascript">
      $('#datetimepicker').datetimepicker({
        format: 'yyyy-MM-dd',
        language: 'en'
      });
    </script>






	 <div id="datetimepicker2" class="input-append date">
	<label for="dateto">end date:</label><br>
	<input type="text" name="dateto_name" value="" maxlength="100" />
	<span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
  </div>

  <script type="text/javascript">
      $('#datetimepicker2').datetimepicker({
        format: 'yyyy-MM-dd',
        language: 'en'
      });
    </script>


	<label for="repeatday">Repeat:</label><br>
	<select name="repeatday">
	  <option value ="Any">Any</option>  <!--any refer to null in the database-->
	  <option value ="Monday">Monday</option>
	  <option value ="Tuesday">Tuesday</option>
	  <option value ="Wednesday">Wednesday</option>
	  <option value ="Thursday">Thursday</option>
	  <option value ="Friday">Friday</option>
	  <option value ="Saturday">Saturday</option>
	  <option value ="Sunday">Sunday</option>
	</select>
	<input id="btn6"class="add" value="add" type="button"  />
</div>


<div id="sch2" style="display:none;">
	<p>Schedule2</p>

	<div id="datetimepicker5" class="input-append">
	<label for="timefrom">start time:</label><br>
	<input data-format="hh:mm:ss" type="text" name="timefrom_name2" value="" maxlength="100" />
		 <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
  </div>

<script type="text/javascript">
  $(function() {
    $('#datetimepicker5').datetimepicker({
      pickDate: false
    });
  });
</script>

	<div id="datetimepicker6" class="input-append">
	<label for="timeto">end time:</label><br>
	<input data-format="hh:mm:ss" type="text" name="timeto_name2" value="" maxlength="100" />
		 <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
  </div>

<script type="text/javascript">
  $(function() {
    $('#datetimepicker6').datetimepicker({
      pickDate: false
    });
  });
</script>

 

    <div id="datetimepicker7" class="input-append date">
	<label for="datefrom">start date:</label><br>
	<input type="text" name="datefrom_name2" value="" maxlength="100" />
	<span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
  </div>

  <script type="text/javascript">
      $('#datetimepicker7').datetimepicker({
        format: 'yyyy-MM-dd',
        language: 'en'
      });
    </script>

	<div id="datetimepicker8" class="input-append date">
	<label for="dateto">end date:</label><br>
	<input type="text" name="dateto_name2" value="" maxlength="100" />
	<span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
  </div>
<script type="text/javascript">
      $('#datetimepicker8').datetimepicker({
        format: 'yyyy-MM-dd',
        language: 'en'
      });
    </script>





	<label for="repeatday">Repeat:</label><br>
	<select name="repeatday2">
	  <option value ="Any">Any</option>  <!--any refer to null in the database-->
	  <option value ="Monday">Monday</option>
	  <option value ="Tuesday">Tuesday</option>
	  <option value ="Wednesday">Wednesday</option>
	  <option value ="Thursday">Thursday</option>
	  <option value ="Friday">Friday</option>
	  <option value ="Saturday">Saturday</option>
	  <option value ="Sunday">Sunday</option>
	</select>

</div>

<div>
<input type="submit" value="Submit" />
</div>

	<div class="fb-like" data-send="true" data-width="450" data-show-faces="true"></div>
</fieldset>
</form>





</body>
</head>